In [1]:
from random import randint
import datetime
import time

In [2]:
data = []

In [3]:
def waktu(ud):
    return datetime.datetime.fromtimestamp(ud+1).strftime('%Y-%m-%d %H:%M:%S')

In [4]:
#basah ke basah 2 m
d = datetime.datetime(2022, 2, 3, 10, 15)
ud = time.mktime(d.timetuple())
humid1 = 78
vibration1 = 2.367
humid2 = 77
vibration2 = 1.267
temp = 38.8
for i in range(0,1800):
    if humid1 < 84:
        poss = randint(0,60)
        if poss == 1:
            humid1 += 1
    if vibration1 > 2.103:
        poss = randint(0,40)
        if poss == 1:
            vibration1 -= randint(0,160)/1000
    if humid2 < 83:
        poss = randint(0,60)
        if poss == 1:
            humid2 += 1
    if vibration2 > 0.956:
        poss = randint(0,40)
        if poss == 1:
            vibration2 -= randint(0,160)/1000
    if temp > 38:
        temp = temp-(randint(0,1)/100)
    ud += 1
    data.append([waktu(ud),humid1,vibration1,humid2,vibration2,temp,2,'basah ke basah'])

In [5]:
#basah ke basah 5 m
d = datetime.datetime(2022, 2, 3, 11, 25)
ud = time.mktime(d.timetuple())
humid1 = 78
vibration1 = 2.367
humid2 = 77
vibration2 = 1.012
temp = 38.8
for i in range(0,1800):
    if humid1 < 84:
        poss = randint(0,60)
        if poss == 1:
            humid1 += 1
    if vibration1 > 2.103:
        poss = randint(0,40)
        if poss == 1:
            vibration1 -= randint(0,160)/1000
    if humid2 < 83:
        poss = randint(0,60)
        if poss == 1:
            humid2 += 1
    if vibration2 > 0.756:
        poss = randint(0,40)
        if poss == 1:
            vibration2 -= randint(0,160)/1000
    if temp > 38:
        temp = temp-(randint(0,1)/100)
    ud += 1
    data.append([waktu(ud),humid1,vibration1,humid2,vibration2,temp,5,'basah ke basah'])

In [6]:
#basah ke basah 10 m
d = datetime.datetime(2022, 2, 3, 12, 5)
ud = time.mktime(d.timetuple())
humid1 = 78
vibration1 = 2.367
humid2 = 77
vibration2 = 0.802
temp = 39.9
for i in range(0,1800):
    if humid1 < 84:
        poss = randint(0,60)
        if poss == 1:
            humid1 += 1
    if vibration1 > 2.103:
        poss = randint(0,40)
        if poss == 1:
            vibration1 -= randint(0,160)/1000
    if humid2 < 83:
        poss = randint(0,60)
        if poss == 1:
            humid2 += 1
    if vibration2 > 0.624:
        poss = randint(0,40)
        if poss == 1:
            vibration2 -= randint(0,160)/1000
    if temp > 40:
        temp = temp-(randint(0,1)/100)
    ud += 1
    data.append([waktu(ud),humid1,vibration1,humid2,vibration2,temp,10,'basah ke basah'])

In [ ]:
#mengering
for i in range(0,7200):
    if humid > 40:
        poss = randint(0,20)
        if poss == 1:
            humid = humid-1
    if temp < 45:
        temp = temp+(randint(0,1)/100)
    ahumid += randint(-1,1)
    if ahumid < 35: ahumid = 35
    if ahumid > 56: ahumid = 56
    if randint(0,100) == 1:
        atemp += randint(-1,2)
    if atemp < 29: atemp = 29
    if atemp > 34: atemp = 34
    light += randint(-1,1)
    ud += 1
    data.append([waktu(ud),humid,temp,ahumid,atemp,light,'mengering'])

In [ ]:
#jeda
for i in range(0,7200):
    if humid > 20:
        poss = randint(0,40)
        if poss == 1:
            humid = humid-1
    if temp < 50:
        temp = temp+(randint(0,1)/100)
    ahumid += randint(-1,1)
    if ahumid < 40: ahumid = 40
    if ahumid > 50: ahumid = 50
    if randint(0,100) == 1:
        atemp += randint(-1,2)
    if atemp < 30: atemp = 30
    if atemp > 34: atemp = 34
    light += randint(-1,1)
    ud += 1
    data.append([waktu(ud),humid,temp,ahumid,atemp,light,'jeda'])

In [ ]:
data

In [7]:
len(data)

5400

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(data,columns=['date','humidity1','vibration1','humidity2','vibration2','temperature','distance','status'])

In [13]:
df

,date,humidity1,vibration1,humidity2,vibration2,temperature,distance,status
0,2022-02-03 10:15:02,78,2.367,77,1.267,38.79,2,basah ke basah
1,2022-02-03 10:15:03,78,2.367,77,1.267,38.78,2,basah ke basah
2,2022-02-03 10:15:04,78,2.367,78,1.267,38.77,2,basah ke basah
3,2022-02-03 10:15:05,78,2.367,79,1.267,38.77,2,basah ke basah
4,2022-02-03 10:15:06,78,2.367,79,1.267,38.76,2,basah ke basah
...,...,...,...,...,...,...,...,...
5395,2022-02-03 12:34:57,84,2.050,83,0.620,39.90,10,basah ke basah
5396,2022-02-03 12:34:58,84,2.050,83,0.620,39.90,10,basah ke basah
5397,2022-02-03 12:34:59,84,2.050,83,0.620,39.90,10,basah ke basah
5398,2022-02-03 12:35:00,84,2.050,83,0.620,39.90,10,basah ke basah
5399,2022-02-03 12:35:01,84,2.050,83,0.620,39.90,10,basah ke basah

In [11]:
df.describe()

,humidity1,vibration1,humidity2,vibration2,temperature,distance
count,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000,5400.000000
mean,83.140556,2.051508,82.320185,0.767426,38.650476,5.666667
std,1.852613,0.066242,1.549660,0.136457,0.890403,3.300137
min,78.000000,2.003000,77.000000,0.620000,37.990000,2.000000
25%,84.000000,2.003000,83.000000,0.620000,37.990000,2.000000
50%,84.000000,2.043000,83.000000,0.732000,37.990000,5.000000
75%,84.000000,2.050000,83.000000,0.907000,39.900000,10.000000
max,84.000000,2.367000,83.000000,1.267000,39.900000,10.000000

In [12]:
df.to_csv('outtanah.csv')