In [1]:
from random import randint
import datetime
import time

In [2]:
d = datetime.datetime(2023, 4, 1, 11, 20)
ud = time.mktime(d.timetuple())
data = []
humid = 98
temp = 38.04
light = 45021
ahumid = 54
atemp = 33

In [3]:
def waktu(ud):
    return datetime.datetime.fromtimestamp(ud+1).strftime('%Y-%m-%d %H:%M:%S')

In [4]:
#Siram
for i in range(0,1800):
    if humid < 98:
        poss = randint(0,20)
        if poss == 1:
            humid += 1
    if temp > 38:
        temp = temp-(randint(0,1)/100)
    ahumid += randint(-1,1)
    if ahumid < 40: ahumid = 40
    if ahumid > 67: ahumid = 67
    if randint(0,100) == 1:
        atemp += randint(-1,2)
    if atemp < 28: atemp = 28
    if atemp > 34: atemp = 34
    light += randint(-1,1)
    ud += 1
    data.append([waktu(ud),humid,temp,ahumid,atemp,light,'siram'])

In [5]:
#mengering
for i in range(0,7200):
    if humid > 40:
        poss = randint(0,20)
        if poss == 1:
            humid = humid-1
    if temp < 45:
        temp = temp+(randint(0,1)/100)
    ahumid += randint(-1,1)
    if ahumid < 35: ahumid = 35
    if ahumid > 56: ahumid = 56
    if randint(0,100) == 1:
        atemp += randint(-1,2)
    if atemp < 29: atemp = 29
    if atemp > 34: atemp = 34
    light += randint(-1,1)
    ud += 1
    data.append([waktu(ud),humid,temp,ahumid,atemp,light,'mengering'])

In [6]:
#jeda
for i in range(0,7200):
    if humid > 20:
        poss = randint(0,40)
        if poss == 1:
            humid = humid-1
    if temp < 50:
        temp = temp+(randint(0,1)/100)
    ahumid += randint(-1,1)
    if ahumid < 40: ahumid = 40
    if ahumid > 50: ahumid = 50
    if randint(0,100) == 1:
        atemp += randint(-1,2)
    if atemp < 30: atemp = 30
    if atemp > 34: atemp = 34
    light += randint(-1,1)
    ud += 1
    data.append([waktu(ud),humid,temp,ahumid,atemp,light,'jeda'])

In [ ]:
data

In [7]:
len(data)

16200

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(data,columns=['date','humidity','temperature','ambient humidity','ambient temperature','light','status'])

In [ ]:
df

In [10]:
df.describe()

,humidity,temperature,ambient humidity,ambient temperature,light
count,16200.000000,16200.000000,16200.000000,16200.000000,16200.000000
mean,40.165062,45.986959,46.161296,33.574568,45025.001173
std,24.887582,3.997128,5.501626,0.803487,58.429120
min,20.000000,37.990000,35.000000,30.000000,44887.000000
25%,20.000000,45.010000,42.000000,33.000000,44982.000000
50%,40.000000,45.010000,46.000000,34.000000,45037.000000
75%,40.000000,50.010000,49.000000,34.000000,45070.000000
max,98.000000,50.010000,67.000000,34.000000,45124.000000

In [11]:
df.to_csv('out.csv')