In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.read_csv('Data.csv')

In [2]:
d = pd.read_csv('DataBesar.csv')

In [4]:
d.count()

date        1917855
light       1917855
temp        1917855
voltage     1917855
current     1917855
humidity    1917855
dtype: int64

In [3]:
d.describe()

              light          temp       voltage       current      humidity
count  1.917855e+06  1.917855e+06  1.917855e+06  1.917855e+06  1.917855e+06
mean   4.146771e+05  3.471533e+01  1.500313e+00  1.689001e+00  3.500511e+01
std    2.192125e+05  1.748198e+00  5.594734e-01  1.112449e+00  2.891017e+00
min    0.000000e+00  2.700003e+01  9.611445e-07  1.518231e-07  3.000000e+01
25%    2.383494e+05  3.342254e+01  1.175816e+00  7.630403e-01  3.250359e+01
50%    4.098710e+05  3.494500e+01  1.500168e+00  1.524969e+00  3.500446e+01
75%    6.016934e+05  3.623666e+01  1.824358e+00  2.548700e+00  3.750589e+01
max    8.143894e+05  3.700000e+01  5.772326e+00  3.999993e+00  9.021674e+01

In [5]:
print(d)

                        date          light       temp   voltage   current  \
0        2020-04-12 08:12:33   27304.700132  34.557738  1.310696  2.959139
1        2020-04-12 08:12:34   27326.062970  36.777672  1.235415  1.415090
2        2020-04-12 08:12:35   27348.982429  34.081805  0.387462  3.037031
3        2020-04-12 08:12:36   27373.158876  35.612526  1.274619  1.850855
4        2020-04-12 08:12:37   27398.948039  33.690570  1.358040  0.351119
...                      ...            ...        ...       ...       ...
1917850  2020-05-05 17:03:12  628065.469570  32.688180  1.965895  2.905160
1917851  2020-05-05 17:03:13  628035.064519  36.886743  1.905918  0.877577
1917852  2020-05-05 17:03:14  628002.105444  32.848959  0.427384  3.161849
1917853  2020-05-05 17:03:15  627969.349561  36.088293  1.111846  0.736966
1917854  2020-05-05 17:03:16  627937.165006  32.989969  1.843013  2.664901

          humidity
0        36.071871
1        32.722446
2        38.970385
3        31.387232
4        36.480653
...            ...
1917850  35.444910
1917851  38.578970
1917852  38.863884
1917853  32.820949
1917854  31.304486

[1917855 rows x 6 columns]